<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="genyus.com.whichmovie"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>

    <!-- Used for GCM (cloud messaging) -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".LauncherActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LoadingActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".MainActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".WebviewActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".PlayerActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".PreferencesActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name=".PhotoViewerActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.Black"/>

        <service android:name=".service.NotifyService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="29e85922062e770b3e92ff822e2d3749231c8a48"/>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_hog0hEs7lNpZiUc7PAGE7ejbzEdkzztF"/>
    </application>

</manifest>
